{% extends 'partials/body.html' %}

% extends 'partials/body.html' %}


{% block contenido %}

<table class="table table-striped table-hover">
    <thead>

        <tr>
            <th>°N de Registro</th>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>

    </thead>

    <tbody>

        {% for ips in ipss %}

        {% if ips.estado != "0" %}
            <tr>
                <td>{{ips.id}}</td>
                <td>{{ips.nombre}}</td>
                <td>{{ips.get_estado_display}}</td>
                <td>
                    <a class="btn btn-danger" href="{% url 'ipss-eliminar' ips.id %}">Eliminar</a>
                    <a class="btn btn-primary" href="{% url 'ipss-modificar' ips.id %}">Modificar</a>
                </td>
            </tr>

            {% endif %}
        {% endfor %}

    </tbody>
</table>
<a href="{% url 'ipss-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
{% endblock contenido %}
