{% extends 'partials/body.html' %}


{% block contenido %}
<a href="{% url 'detalle_compra-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Precio Unitario</th>
            <th>Cantidad Total </th>
            <th>Id Compra </th>

        </tr>
    </thead>
    <tbody>

        {% for detalle_compra in detalle_compras %}
        
            <tr>
                <td>{{detalle_compra.id}}</td>
                <td>{{detalle_compra.precio_unidad}}</td>
                <td>{{detalle_compra.cantidad_total}}</td>
                <td>{{detalle_compra.id_compra}}</td>

                <td>
                    <a class="btn btn-primary" href="{% url 'detalle_compra-modificar' detalle_compra.id %}">+</a>
                </td>
            </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    