
{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
              <li class="breadcrumb-item active">{{ modulo }} </li>
              <li class="breadcrumb-item active">{{ titulo }} </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> {{titulo}} </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>°N de Registro</th>
                      <th>Producto</th>
                      <th>Stock Materia Prima</th>
                      <th>Acción</th>
                  </tr>
              </thead>
            <tbody>
                  {% for detalle_producto in detallesP %}
                      <tr>
                          <td>{{detalle_producto.id }}</td>
                          <td>{{detalle_producto.producto}}</td>
                          <td>{{detalle_producto.stock_materia_prima}}</td>

                          <td>
                              <a class="btn btn-primary btn-md bi bi-wrench m-1 me-1" href="{% url 'detalle-productos-modificar' detalle_producto.id %}">Modificar</a>
                          </td>
                      </tr>

                  {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>°N de Registro</th>
                <th>Producto</th>
                <th>Stock Materia Prima</th>
                <th>Acción</th>
            </tr>
            </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <a href="{% url 'detalle-productos-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
</div>
{% endblock contenido %}
